*{
    padding: 0;
    margin: 0;
}

html{
    position: absolute;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

body{
    position: absolute;
    background-color: #f5f4f9;
    overflow: hidden;
    width: 100%;
    height: 100%;
}

header{
    display: flex;
    justify-content: center;
    align-content: center;
    position: fixed;
    background-color: #ebeff2;
    height: 8%;
    width: 100%;
}

header p{
    position: relative;
    font-size: 18px;
    margin: 20px 18px;
    bottom: 0;
}

.header-active{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-active > div{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-active p{
    box-sizing: border-box;
    font-weight: 600;
    border-bottom: 3px solid black;
}

.header-notactive p{
    border-bottom: 3px solid #ebeff2;
}

.header-notactive{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.close{
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 3rem;
    width: 3rem;
    bottom: -10%;
    margin: 0 0.5rem;
    overflow: hidden;
    border-radius: 50%;
}

header img{
    height: 50%;
    width: auto;
}

.content{
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 10%;
    background-color: #ffffff;
    height: 27%;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}

.content div{
    display: flex;
    height: 33%;
    margin: 0 5%;
}

.content-top{
    display: flex;
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.content-top div{
    position: relative;
    height: 100%;
    font-size: 18px;
    margin: auto 15px;
    color: black;
}

.content-top div:nth-child(1){
    margin: 0 2%;
}

.content-top-left img{
    margin: auto;
    height: 60%;
    width: auto;
}

.content-top-left p{
    margin: auto 10px;
    font-size: 20px;
}

.content-top div:nth-child(2){
    flex: 1;
}

.content-top-right p{
    position: relative;
    margin: auto 0;
    font-size: 18px;
    bottom: 1px;
}

.content-top-right p:nth-child(2){  
    font-size: 22px;
    bottom: 2px;
}

.content-middle{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.content-middle div{
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-middle div img{
    margin: auto;
    margin-bottom: 5%;
    position: relative;
    display: block;
    height: 50%;
    width: auto;
}

.content-middle div p{
    position: relative;
    color: #999999;
    font-size: 14px;
    margin: 0 auto;
}

.content-bottom div{
    display: flex;
    flex-direction: column;
    height: 100%;
}

.content-bottom div img{
    margin: auto;
    margin-bottom: 5%;
    position: relative;
    display: block;
    height: 50%;
    width: auto;
}

.content-bottom div p{
    position: relative;
    white-space: nowrap;
    color: #999999;
    font-size: 12px;
    margin: 0 auto;
}

.content-bottom{
    position: relative;
    box-sizing: border-box;
    overflow: hidden;
}

.keyboard{
    position: absolute;
    top: 75%;
    height: 25%;
    width: 100%;
    display: flex;
}

.number{
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 75%;
}

.number > div{
    box-sizing: border-box;
    background-color: #ebeff2;
    height: 25%;
    width: 33.33%;
    border: 1px solid white;
}

.keyboard-text{
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
}

.side{
    box-sizing: border-box;
    margin: 0;
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.side > div{
    background-color: #ebeff2;
}

.keyboard-delete{
    display: flex;
    align-items: center;
    height: 25%;
    width: 100%;
    border: 1px solid white;
}

.keyboard-delete > p{
    margin: auto;
    font-size: 30px;
}

.keyboard-confirm{
    display: flex;
    align-items: center;
    height: 75%;
    width: 100%;
    border: 1px solid white;
}

.keyboard-confirm > p{
    margin: auto;
    text-align: center;
}

.number > div:active{
    background-color: #dddddd;
}

.side > div:active{
    background-color: #dddddd;
}

.remarks{
    display: flex;
    position: absolute;
    top: 70%;
    height: 5%;
    width: 100%;
    background-color: white;
}

.remarks-left{
    height: 100%;
    flex: 1;
}

.remarks-left p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5%;
    font-size: 14px;
    color: #9e9e9e;
}

.remarks-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 60%;
}

.remarks-right p{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin: 0 5%;
    font-size: 14px;
    color: #9e9e9e;
}

.alert{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    display: none;
    animation: 1s;
}

.alert-content{
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    top: 73%;  
    height: 27%;
    width: 100%;
    border-radius: 10px;
    background-color: white;
}

.alert-title{
    display: flex;
    align-items: flex-end;
    height: 18%;
    width: 100%;
}

.alert-title p{
    margin: 5px 15px;
    font-size: 18px;
}

.alert-input{
    display: flex;
    flex: 1;
    align-items: center;
    box-sizing: border-box;
    height: 43%;
    width: 96%;
    margin: 15px;
}

.alert-input textarea{    
    border: 0;
    outline: none;
    height: 100%;
    width: 100%;
}

.alert-input textarea:focus{
    border: 0;
}

.alert-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
}

.alert-btn div{
    margin: 15px;
    height: 60%;
    width: 43%;
    border-radius: 50px;
}

.btn-cancel{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: white;
    border: 1px solid #0f9570;
}

.btn-cancel p{
    color: #0f9570;
    font-size: 20px;
}

.btn-confirm{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0f9570;
    border: 1px solid #0f9570;
}

.btn-confirm p{
    color: white;
    font-size: 20px;
}

.btn-cancel:active{
    background-color: #e0e0e0;
}

.btn-confirm:active{
    background-color: #018560;
}

.main{
    position: absolute;
    display: flex;
    box-sizing: border-box;
    width: 200%;
    height: 100%;
    transition: transform 0.5s;
}

.main-left{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s;
}

.main-right{
    display: flex;
    position: relative;
    height: 100%;
    width: 100%;
    transition: transform 1s;
}

