.ripple{
    position: absolute;
    transform: translate(-50%,-50%);
    z-index: 2;
    background-color: grey;
    border-radius: 50%;
    animation: ripple 1.25s;
    animation-fill-mode: forwards;
}

@keyframes ripple{
    0%{
        width: 0px;
        height: 0px;
        opacity: 0.3;
    }
    100%{
        width: 800px;
        height: 800px;
        opacity: 0.5;
    }
}
